# This workflow will build a Kotlin project with Maven

name: Build

on:
  push:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Configure Testcontainers
        run: |
          mkdir -p /home/runner
          echo "testcontainers.reuse.enable=true" > /home/runner/.testcontainers.properties
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -U -B test verify
